[Unit]
Description=Start/Stop compton using Systemd

[Service]
User=%I
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/compton -bcC -o 0.3
ExcecStop=-/usr/bin/pkill -9 compton

[Install]
WantedBy=xinitrc.target
