[Unit]
Description=Insync
After=local-fs.target network.target

[Service]
ExecStartPre=/usr/bin/sleep 60
Environment=DISPLAY=:0
Type=simple
ExecStart=/usr/bin/insync start --synchronous-full
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
User=%I

[Install]
WantedBy=multi-user.target
