[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/sleep 60
ExecStart=/usr/bin/systemctl restart wicd

[Install]
WantedBy=suspend.target
