[Unit]
Description=Local system resume actions
After=suspend.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/pkill wicd
ExecStart=/usr/bin/wicd

[Install]
WantedBy=suspend.target
