[Unit]
Description=Wicd sleep hook
Before=suspend.target
StopWhenUnneeded=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=-/usr/bin/systemctl restart wicd
ExecStop=-/usr/bin/systemctl stop wicd

[Install]
WantedBy=suspend.target
